amqp==5.1.1
anyio==3.6.1
asgiref==3.5.1
billiard==3.6.4.0
celery==5.2.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
distlib==0.3.6
dj-database-url==0.5.0
Django==4.0.4
django-cors-headers==3.12.0
django-decouple==2.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
fastapi==0.85.0
filelock==3.8.0
greenlet==1.1.3
h11==0.14.0
idna==3.3
kombu==5.2.4
phonenumbers==8.12.50
platformdirs==2.5.2
prompt-toolkit==3.0.29
pydantic==1.10.2
pygame==2.1.2
PyJWT==2.5.0
python-decouple==3.6
pytz==2022.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlparse==0.4.2
starlette==0.20.4
typed-ast==1.5.4
typing_extensions==4.3.0
tzdata==2022.1
urllib3==1.26.9
uvicorn==0.18.3
vine==5.0.0
virtualenv==20.16.5
wcwidth==0.2.5
